<% content_for :title, "Editing project" %>

<div class="container">
    <%= link_to "<< Back to projects", projects_path %>
    <div class="column">
        <div class="row">
            <h1>Editing project</h1>
            <%= render "form", project: @project %>
            <br>
            <div>
                <%= link_to "<< Back to projects", projects_path %>
            </div>
        </div>
    </div>
</div>